html{
  background: linear-gradient(90deg, purple, #81d8d0 , purple);
}
.center{
  text-align:center;
  margin:auto;
  width:55%;
}
table,td {
  border:5px inset purple;
  background:#81d8d0;
  padding:10px;
} 
ul,li {
  font-size:25px;
}
