
body{
  text-align:center;
  background-color:#DCDCDC; 
  display:flex;
  background: linear-gradient(blue, #7FFFD4);
}
h1{
  text-decoration:underline;
  color:#00008B;
}
h3{
  font-size:20px;
  color:#483D8B;
}
.Heading{
  background-color:#D3D3D3;
  border: dotted #00BFFF;
  width:800px;
  position: absolute;
    left: 400px;
}
p{
  text-decoration:underline;
}
.Main{
  position: absolute;
    left: 555px;
    top:145px;
  font-size:25px;
}
ul{
  text-align:left;
}
